@import 'tailwindcss';

.pepe {
  background-color: rgb(87, 52, 57);
}

@theme inline {
  /* Custom Colors */
  --color-lv-yellow: 	#F3B229;
  --color-lv-blue: 	#103F79;
  --color-lv-cream: 	#F7F3F1;


  /* Font Families */
  --font-archivo: "Archivo", sans-serif;
  --font-instrument-serif: "Instrument Serif", serif;
  --font-lacquer: "Lacquer", sans-serif;
}

@custom-variant notebook {
  @media (width < 1280px) {
    @slot;
  }
}

@custom-variant tablet {
  @media (width < 1024px) {
    @slot;
  }
}

@custom-variant mobile {
  @media (width < 768px) {
    @slot;
  }
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-archivo);
  font-stretch: 70%;
  font-weight: 100;
  background-color: white;
  color: black;
}

h1,
h2,
h3 {
  font-family: var(--font-archivo);
  font-weight: 900;
  font-stretch: 90%;
}

